
.button-demo .p-button {
    margin-right: .5rem;
}

.button-demo .p-buttonset .p-button {
    margin-right: 0;
}

.button-demo .sizes .button {
    margin-bottom: .5rem;
    display: block;
}

.button-demo .sizes .button:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 960px) {
    .button-demo .p-button {
        margin-bottom: .5rem;
    }

    .button-demo .p-button:not(.p-button-icon-only) {
        display: flex;
        width: 100%;
    }

    .button-demo .p-buttonset .p-button {
        margin-bottom: 0;
    }
}

#watchlist{
    background: none!important;
    border: none;
    height: 5px;
   margin-bottom: 2px;
   font-size: 13px;
   width: 100px;
   color: black;
}

#profile-div{
    background: none!important;
    border: none;
    height: 5px;
    direction: ltr;
   margin-bottom: 2px;
   font-size: 13px;
   width: fit-content;
   color: black;  
}


#profile-buttons-nav{
margin-top: 70px;
}

#account-setting,#sign-out{
    left: -10px;
}

#watchlist:focus{
    box-shadow:none !important;
}


#watchlist:hover{
    background-color: transparent;
    border-color: gray;
   
}

#My_AAP{
    background: none!important;
    border: none;
    height: 5px;
    margin-bottom: 2px;
    font-size: 13px;
    width: 110px;
    color: black;
}

#My_AAP:focus{
    box-shadow:none !important; 
}

#My_AAP:hover{
    background-color: transparent;
    border-color: gray;
}

#notification{
    margin-top: 5px;
    height: 5px;
    font-size: 13px;
    color: black;
   
}

#userProfile{
    margin-top: 5px;
    height: 5px;
    font-size: 13px;
    color: black;
}

#notification:hover{
    height: 5px;
    background-color: transparent;
    margin-bottom: 2px;
    font-size: 13px;
    color: black; 
}

#regis_bottom{
    margin-left: 155px;
    color: gray;
    
}

#money_back_bottom{
    margin-left: 155px;
    color: gray;
}

#help_bottom{
    margin-left: 155px;
    color: gray; 
}

#stores_bottom{
    margin-left: 155px;
    color: gray;  
}

#guides_bottom{
    margin-left: 155px;
    color: gray;  
}

#start_selling_bottom,#learn_to_sell_bottom,#business_seller_bottom,#affiliates_bottom,#developers_bottom,#security_center_bottom,
#official_time_bottom,#site_map_bottom,#classifieds_bottom,#close5_bottom,#See_all_companies_bottom,#Blogs_bottom,#Facebook_bottom,
#Twitter_bottom,#company_info_bottom,#news_bottom,#investors_bottom,#careers_bottom,#government_relations_bottom,
#advertise_with_us_bottom,#policies_bottom,#verified_rights_bottom,#resolution_center_bottom,#seller_information_bottom,#contact_us_bottom,
#announcements_bottom,#answer_center_bottom,#discussion_boards_bottom,#giving_works_bottom,#groups_bottom,#top_shared_bottom{
    margin-left: 45px;
    color: gray;  
}

#continue-button{
    width: 437px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    font-weight: bold;
    background-color: rgb(56, 56, 231);
}

#continue-button:hover , #register-button:hover{
    background-color: rgb(84, 84, 209);
}

#register-button{
    width: 300px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    font-weight: bold;
    background-color: rgb(56, 56, 231);
}


#SignInToAAP-button{
    width: 437px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    font-weight: bold;
    background-color: rgb(56, 56, 231);
}

#SignInToAAP-button:hover{
    background-color: rgb(84, 84, 209);
}

#forgot-pass{
    color: blue;
    font-size: 12px;
}


#login-with-facebook{
    width: 437px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(56, 56, 231);
}


#login-with-facebook:hover{
    background-color: rgb(84, 84, 209);
}

#login-with-google{
    width: 437px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    color: gray;
    border-color: darkgray;
}

#login-with-google:hover{
    background-color: rgb(224, 224, 238);
}

#chekbox{
    margin-left: 700px;
    margin-top: 10px;
}

#checkbox-button{
    border-radius: 0;
    size: 5px;
}

#button-read-more{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;

}

#button-read-more:focus{
    box-shadow:none !important;
}


#submit-form{
    border-radius: 0;
    margin-top: 250px;
    margin-left: 400px;
    width: 330px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-color: gray;
    background-color: gray;
}


#login-with-facebook2{
    width: 330px;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 900px;
    padding-bottom: 15px;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(56, 56, 231);
}


#login-with-facebook2:hover{
    background-color: rgb(84, 84, 209);
}

#login-with-google2{
    width: 330px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 900px;
    border-radius: 0;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
    color: gray;
    border-color: darkgray;
}

#login-with-google2:hover{
    background-color: rgb(224, 224, 238);
}