
.button-demo .p-button {
    margin-right: .5rem;
}

.button-demo .p-buttonset .p-button {
    margin-right: 0;
}

.button-demo .sizes .button {
    margin-bottom: .5rem;
    display: block;
}

.button-demo .sizes .button:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 960px) {
    .button-demo .p-button {
        margin-bottom: .5rem;
    }

    .button-demo .p-button:not(.p-button-icon-only) {
        display: flex;
        width: 100%;
    }

    .button-demo .p-buttonset .p-button {
        margin-bottom: 0;
    }
}

#watchlist{
    height: 5px;
   margin-bottom: 2px;
   font-size: 13px;
   width: 100px;
   color: black;
}

#watchlist:hover{
    background-color: transparent;
    border-color: gray;
   
}

#My_AAP{
    height: 5px;
    margin-bottom: 2px;
    font-size: 13px;
    width: 110px;
    color: black;
}

#My_AAP:hover{
    background-color: transparent;
    border-color: gray;
}

#notification{
    margin-top: 5px;
    height: 5px;
    font-size: 13px;
    color: black;
   
}

#notification:hover{
    height: 5px;
    background-color: transparent;
    margin-bottom: 2px;
    font-size: 13px;
    color: black; 
}

#regis_bottom{
    margin-left: 155px;
    color: gray;
    
}

#money_back_bottom{
    margin-left: 155px;
    color: gray;
}

#help_bottom{
    margin-left: 155px;
    color: gray; 
}

#stores_bottom{
    margin-left: 155px;
    color: gray;  
}

#guides_bottom{
    margin-left: 155px;
    color: gray;  
}

#start_selling_bottom,#learn_to_sell_bottom,#business_seller_bottom,#affiliates_bottom,#developers_bottom,#security_center_bottom,
#official_time_bottom,#site_map_bottom,#classifieds_bottom,#close5_bottom,#See_all_companies_bottom,#Blogs_bottom,#Facebook_bottom,
#Twitter_bottom,#company_info_bottom,#news_bottom,#investors_bottom,#careers_bottom,#government_relations_bottom,
#advertise_with_us_bottom,#policies_bottom,#verified_rights_bottom,#resolution_center_bottom,#seller_information_bottom,#contact_us_bottom,
#announcements_bottom,#answer_center_bottom,#discussion_boards_bottom,#giving_works_bottom,#groups_bottom,#top_shared_bottom{
    margin-left: 45px;
    color: gray;  
}
              