
.dropdown-demo .p-dropdown {
    width: 14rem;
}

#selecet_category{
    height: 39px;
    margin-top: 5px;
    margin-bottom: 10px;
   position: absolute;
   margin-left: 647px;
   border-color: transparent;
   outline: transparent;
   text-align-last: left;
   border-left-color: lightslategray;
   width: 185px !important;
   font-size: small;
   
}

#selecet_category:focus-within{
    box-shadow: none !important;
}

.dropDown{
    display: inline-block;
    position: relative;   
}

.dropDown1{
    display: inline-block;
    position: relative;
}
.dropDown1:hover .dropDown-menu{
    display: block;

}

.dropDown2{
    display: inline-block;
    position: relative; 
}

.drop-down-shop{
    position: relative; 
}

.dropDown3{
    display: inline-block;
    position: relative;
}

.dropDown:hover .dropdown_profile{
    display: block;  
}

#profile-div-drop{
   z-index: 20;
  left: -13px;
  top:-1px;
}

.Watchlist-dropDown:hover .dropDown-menu{
    display: block;

}

.dropDown2:hover .dropdown_aap{
    display: block;
}

.dropDown3:hover .dropdown_notofication{
    display: block;  
}

.drop-down-shop:hover .dropdown-content-shopping{
    display: block;
}

.Watchlist-dropDown{
       display: inline-block;
    position: relative;
}

.dropdown-content-shopping {
    position: absolute;
    background-color: white;
    display: none;
    color: black;
    font-size: 14px;
    z-index: 1;
    margin-left:auto; margin-right:0;
    border-style: ridge;
    border-color:lightgray;
    border-width: thin;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 300px;
    height:fit-content;
}
.watchlist-content{
    position: absolute;
    background-color: white;
    display: none;
    color: black;
    font-size: 14px;
    z-index: 1;
    margin-left:auto; margin-right:0;
    border-style: ridge;
    border-color:lightgray;
    border-width: thin;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 300px;
    height:fit-content;
}

#go-to-checkout:hover{
    text-decoration: underline;
}

.dropdown_aap{
    position: absolute;
    background-color: white;
    display: none;
    color: black;
    font-size: 14px;
    z-index: 1;
    margin-left:auto; margin-right:0;
    border-style: ridge;
    border-color:lightgray;
    border-width: thin;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 180px;
}

.dropdown_aap_content{
    display: block;
    color: black;
    padding-left: 10px;
    padding-top: 5px;
  
}

.dropdown_aap_content:hover{
    text-decoration: underline;
}


.dropDown-menu{
    position: absolute;
    background-color: white;
    display: none;
    color: black;
    font-size: 14px;
    z-index: 1;
    margin-left:auto; margin-right:0;
    border-style: ridge;
    border-color:lightgray;
    border-width: thin;
}

.dropdown_notofication{
    position: absolute;
    background-color: white;
    display: none;
    color: gray;
    font-size: 20px;
    z-index: 1;
    border-style: ridge;
    border-color:lightgray;
    border-width: thin;
    padding-top: 30px;
    text-align: center;
    width: 300px;
    height:80px;
    overflow-y: "scroll",
    
}

.dropDown-menu:hover .msg_watchlist{
    display: "block";
}
.dropDown-menu2:hover .profile-option{
    display: block;
}
.msg_watchlist{
    color: gray;
    font-size: 20px;
    padding-top: 40px;
    margin-right:30px;
    padding-left: 20px;
    width: 460px;
    height: 110px;
    font-weight: bold;
}





.profile-option{
    color: #808080;
    font-size: 15px;
    padding-top: 40px;
    margin-right:30px;
    padding-left: 20px;
    width: 250px !important;
    height: 250px;
    font-weight: normal;  
}

#sign-in-msg{
    color: black;
    text-decoration: underline;
    font-weight: bold;
}





                