.forgotpassword-container{
    text-align: center;
}


h3{
    padding-top: 100px;
    font-weight: bold;
    font-size: 36px;
}

#new-password-span,#verify-password-span{
    margin-top: 25px;
    margin-left: 550px;
    margin-right: 550px;
    color: black;
  }

  #new-password-span:focus,#verify-password-span:focus{
          color: black;
  }

  #new-password,#verify-password{
    position: static;
    z-index: 0;
  }

  #new-password:focus,#verify-password:focus{
    border-color: black;
  }

  #new-password:hover,#verify-password:hover{
    border-color: black;
  }

  #password-label{
      color: black;
      position: absolute;
      z-index: 1;
  }

  #password-label:focus{
    color: black;
  }